body {
    margin: 0;
    padding: 0;
    background-image: url('img/bgdr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





.osmo-icon-svg {
    width: 8em;
    position: relative;
}

.parallax__header {
    padding: var(--section-padding) var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
}

.parallax {
    width: 100%;
    position: relative;
    overflow: hidden;
}



.cover {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__visuals {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__visuals2 {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__placeholder {
    z-index: 0;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__layers {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


.cover-copy {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__fade {
    z-index: 30;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.parallax__fade {
    --color-light-blue-rgb: 0, 164, 204;
    background: linear-gradient(to top,
            rgba(var(--color-light-blue-rgb), 1) 0%,
            rgba(var(--color-light-blue-rgb), 1) 15%,
            rgba(var(--color-light-blue-rgb), 0.95) 30%,
            rgba(var(--color-light-blue-rgb), 0.75) 50%,
            rgba(var(--color-light-blue-rgb), 0.5) 70%,
            rgba(var(--color-light-blue-rgb), 0.3) 85%,
            rgba(var(--color-light-blue-rgb), 0.1) 95%,
            rgba(var(--color-light-blue-rgb), 0) 100%);
}

.parallax__black-line-overflow {
    z-index: 20;
    background-color: var(--color-light-blue-rgb);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.parallax__title {
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: 200px;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 150px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 15px 15px 20px rgb(0, 0, 0);

}


.parallax__title_2 {
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: 200px;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 150px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}


.parallax__radial-gradient {
    z-index: 10;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent, var(--color-black));
    opacity: .5;
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    inset: 0;
}

.parallax__layer-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__layer-img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 117.5%;
    position: absolute;
    top: -17.5%;
    left: 0;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    filter: grayscale(80%);
}

.parallax__layer-img-logo {
    pointer-events: none;
    object-fit: cover;
    width: 30%;
    height: auto;
    max-width: 100%;
    position: absolute;
    bottom: 55%;
    right: 35%;
    left: auto;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}


.parallax__layer-img.is-third {
    top: -20%;
}

@font-face {
    font-family: 'PP Neue Corp Wide';
    src: url('https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717e399d30a606fed425914_PPNeueCorp-WideUltrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@media (max-width: 1200px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 150px;
    }
}

@media (max-width: 992px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 100px;
    }
}


.txt-rotate {
    font-size: 100px;
}

.parallax__content {
    z-index: 31;
    font-family: 'Poppins', sans-serif;
    margin: 120px 0 0 0;
    padding: 50px 100px;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    position: relative;
    color: #eaeaea;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 164, 204) 70%);
}

.blur-card {
    position: relative;
    top: auto;
    width: 1300px;
    padding: 40px 0;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 130px;
}



.container-awal {
    padding: 0 100px;
    display: flex;
}

.colum-awal {
    font-size: 25px;
    margin: 0 100px 0 0;
    font-weight: bold;
}


.colum-kedua {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.colum-kedua img {
    width: 520px;
    height: 400px;
    transition: .2s linear;
}

.colum-kedua img:hover {
    transform: scale(1.05);
}

.trading-room {
    font-family: PP Neue Corp Wide, sans-serif;
    background: linear-gradient(45deg, #31c8ff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-awal {
    color: #0004ee;
}

.btn-awal {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    background-color: #20d2ff96;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.btn-awal::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
}

.btn-awal:hover::before {
    animation: shimmer 1s forwards;
}

@keyframes shimmer {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}


.overlay-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #20d2ff86;
    color: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 200px;
    transition: .2s linear;
}

.overlay-text:hover {
    transform: scale(1.05);
}

.overlay-text .title-kedua {
    font-size: 14px;
    margin: 0;
}

.overlay-text .jumlah-kedua {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


.klik-hir {
    color: #31c8ff;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.klik-hir:hover {
    color: #ffffffff;
    animation: shimmer 1s forwards;
}

.popup-profile {
    display: none;
    /* SEMUA ukuran layar awalnya sembunyi */
    position: fixed;
    inset: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
}


.popup-content-profile {
    background-color: #fff;
    color: #000000;
    margin: 15% auto;
    padding: 20px 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.close-btn-profile {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.blur-card-popup {
    position: relative;
    top: 0;
    width: 1300px;
    padding: 40px 0 60px 0;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    overflow: hidden;

    margin: auto;
    /* ini yang bikin tetap di tengah */
}


.parallax__title_about {
    display: flex;
    padding: 50px 70px;
    margin-bottom: .1em;
    margin: 0;
    font-size: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}



.parallax__title_about h1 {
    font-size: 5vh;
    margin: 32px 0 0 65px;
}


.parallax__title_about p {
    margin: 30px 0 0 70px;
    font-size: 22px;
    color: rgb(228, 228, 228);

}

.visimisi {
    margin: 0 0 0 0;
    padding: 0 150px;
}

.column-visimisi {
    flex-direction: row;

}

.column-visimisi h2 {
    font-size: 40px;
    margin: 0 0 0 400px;
    padding: 0 0 20px 0;
}

.column-visimisi p {
    font-size: 22px;
    margin: 0 0 0 -100px;
    color: rgb(228, 228, 228);
    text-align: center;
    padding: 0 100px;
}

.column {
    margin: 70px 0 0 0;
}

.column h2 {
    font-size: 40px;
    margin: 0 0 0 400px;
}

.column span {
    margin: 0 0 0 200px;
    padding: 0 0 0 0;
}

.column li {
    font-size: 20px;
    margin: 0 10px 0 10px;
    padding: 10px 100px;
    color: rgb(228, 228, 228);
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(50px);
    }
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}






.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    z-index: -1;
}









/* profile css */

.carousel-visimisi {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0;
}

.carousel-track-visimisi {
    display: flex;
    width: max-content;
    animation: scrollCarousel 40s linear infinite;
}

@keyframes scrollCarousel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.carousel-track-visimisi img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-track-visimisi:hover {
    animation-play-state: paused;
}

.modal {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.modal img {
    max-width: 90%;
    max-height: 80%;
}

.modal .close,
.modal .prev,
.modal .next {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.modal .close {
    top: 10px;
    right: 10px;
}

.modal .prev {
    left: 10px;
}

.modal .next {
    right: 10px;
}










.container-vip {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 1100px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, box-shadow, background;
    transform-origin: center;
    backface-visibility: hidden;
}

.container-vip:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(212, 212, 212, 0) 0%, rgba(34, 193, 195, 1) 88%);
}

.container-vip {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.6s ease-out;
}


.container-vip.visible {
    opacity: 1;
    transform: translateY(0);
}

.header-vip {
    margin-bottom: 40px;
}

.header-vip h1 {

    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
}

.header-vip p {
    font-size: 28px;
    color: #f0f0f0;
}


.content-vip {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    margin-left: 25px;
}

.benefits {
    width: 70%;
    text-align: left;
    margin: 0 0 0 50px;
}

.benefits h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 30px;
    color: aquamarine;
}

.benefits ul {
    list-style-type: none;
    padding: 0;
    margin-left: 40px;
}

.benefits ul li {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    color: #eaeaea;
}

.benefits ul li::before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

.images-vip {
    width: 500px;
    flex-direction: column;
    gap: 20px;

}

.image-card-vip {
    padding: 25px 0 10px 0;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    filter: grayscale(100%);
}

.image-card-vip:hover {
    filter: grayscale(0%);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-card-vip img {
    width: 280px;
    border-radius: 10px;
}

.image-card-vip p {
    font-size: 16px;
    margin-top: 10px;
    color: #f0f0f0;
    font-weight: bold;
}

.pricing {
    margin-top: 0;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 1px;
    border-radius: 20px;
    display: inline-block;
    transition: .2s linear;
}

.pricing:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pricing h2 {

    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aquamarine;
}

.pricing p {
    color: #eaeaea;
    padding: 0 20px 10px 20px;
}

.pricing .original-price {

    font-size: 24px;
    color: #f0f0f0;
    text-decoration: line-through;
    margin-right: 10px;
}

.pricing .discounted-price {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #4cd137, #aaff00, #4cd137);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s infinite linear;
}

.cta-button-vip {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;

    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.cta-button-vip::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
}

.cta-button-vip:hover::before {
    animation: shimmer 1s forwards;
}

@keyframes shimmer {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}




.pricing {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.pricing.visible {
    opacity: 1;
    transform: translateY(0);
}













.container-panduan {
    font-family: 'Poppins', sans-serif;
    padding: 30px 20px;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}


.container-panduan h3 {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;

}

.container-panduan h1 {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}

.container-panduan .highlight {
    color: #31c8ff;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.603);
}

.grid-panduan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 kolom x 2 baris = 8 */
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}



.card-panduan {
    background-color: #ececec34;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    transition: transform 0.2s ease;
}

.card-panduan:hover {
    transform: translateY(-5px);
}

.card-panduan img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.card-panduan p {
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    color: #fff;
}

.button-panduan {
    padding: 20px 100px;
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.6s ease;
    background-color: #1ba3c5;
    border: #00000000;
    cursor: pointer;
    color: #ffffff;
}

.button-panduan:hover {
    padding: 25px 110px;
    color: rgb(255, 255, 255);
}

.button-panduan a {
    text-decoration: none;
    color: #ffff;
}




















/* sss */
.container-cpt-utama {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.cpt-container {
    border-radius: 20px;
    padding: 40px;
    width: 1100px;
}

.cpt-header {
    text-align: center;
    margin-bottom: 20px;
}

.cpt-title {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 80px;
    color: #31c8ff;
    margin-bottom: 15px;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.603);
}

.cpt-subtitle {
    font-size: 50px;
    color: rgb(228, 228, 228);
    margin-top: 10px;
}

.cpt-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 30px 0;
}

.cpt-benefit-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.cpt-benefit-box:hover {
    transform: translateY(-5px);
}

.cpt-benefit-title {
    font-size: 30px;
    background: linear-gradient(45deg, #31c8ff, #90e0ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;

}

.cpt-master {
    background: linear-gradient(90deg, #ff0000, #d308b1, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cpt-follower {
    background: linear-gradient(90deg, #aaff00, #4cd137, #aaff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cpt-benefit-list {
    list-style: none;
}

.cpt-benefit-item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    color: rgb(226, 226, 226);
}

.cpt-stats-container {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.cpt-stat-card {
    text-align: center;
    padding: 20px;
}

.cpt-stat-number {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #31c8ff, #90e0ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.cpt-cta-button {
    display: inline-block;
    width: 100%;
    padding: 18px;
    background: linear-gradient(45deg, #31c8ff, #90e0ef);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    border: none;
    cursor: pointer;
}

.cpt-cta-button:hover {
    transform: scale(1.05);
}


.cpt-subtitle {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.8s ease-out;
}


.cpt-subtitle.visible {
    opacity: 1;
    transform: translateY(0);
}

.cpt-stat-number {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.8s ease-out;
}


.cpt-stat-number.visible {
    opacity: 1;
    transform: translateY(0);
}

.cpt-stat-label {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.8s ease-out;
}


.cpt-stat-label.visible {
    opacity: 1;
    transform: translateY(0);
}



/* Promo css */

















/* unggulan */

.container-unggulan {
    width: auto;
    height: auto;
    padding: 50px 0;
    justify-items: center;
}

.card-unggulan {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container-unggulan h1 {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 5vh;
    color: #eceeef;
    margin: 20px 0 5px 0;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.63);
}

.card-unggulan img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
}



.button-unggulan {
    font-family: 'Poppins', sans-serif;
    padding: 15px 100px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 15px;
    font-size: 15px;
    transition: all 0.3s ease;
    background-color: #1ba3c5;
    border: #00000000;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;

}

.button-unggulan:hover {
    padding: 20px;
    color: rgb(255, 255, 255);
}

.container-unggulan {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 3s ease-out;
}

.container-unggulan.visible {
    opacity: 1;
    transform: translateY(0);
}










/* kontak css */
.container-kontak1 {
    font-family: 'Poppins', sans-serif;
    padding: 50px 0 0 0;
    margin-bottom: 50px;
    z-index: -1;
}

.card-border-kontak {
    height: auto;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

}

.title-master {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 5vh;
    text-align: center;
    color: #eceeef;

}

.title-master span {
    color: #31c8ff;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.603);
}

p {
    line-height: 1.5em;
}

h1+p,
p+p {
    margin-top: 10px;
}

.container-kontak {
    padding: 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    margin-top: -15px;
}

.card-wrap {
    margin: 10px 0;
    transform: perspective(600px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-wrap:hover .card-info {
    transform: translateY(0);
}

.card-wrap:hover .card-info p {
    opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
    transition: 3s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 6s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 217, 255, 0.493) 0 0 40px 5px, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
    position: relative;
    bottom: 10px;
    flex: 0 0 240px;
    width: 250px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
    background: transparent;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0 60px;
}

.card-bg {
    opacity: 1;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
    position: relative;
    z-index: 1;
}

.card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 217, 255, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 10s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.button-kontak {
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.6s ease;
    background-color: #1ba3c5;
    border: #00000000;
    cursor: pointer;
    color: #ffffff;

}

.button-kontak:hover {
    padding: 25px;
    color: rgb(255, 255, 255);
}

.button-kontak a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.6s ease;
}

.button-kontak a:hover {
    color: rgb(255, 255, 255);
}

.container-partikel {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}








/* Testimoni corousel */
.carousel-testimoni {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    flex: 0 0 25%;
    /* 4 per row */
    box-sizing: border-box;
    padding: 10px;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 24px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}









/* Testimonial  */

.container-testimonial-body {
    font-family: 'Poppins', sans-serif;
    padding: 10px 32px 32px 32px;
}


.container-testimonial {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title-testimonial {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 45px;
    font: bold;
    color: #ffff;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.342);
}

.title-testimonial span {
    color: #7dd9fa;
}

.testimonial {
    background-color: #a7a7a7;
    filter: opacity(80%);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    text-align: left;
}

.testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 20px;
    border: 3px solid #000000;
    background-color: #fffcf9;
}

.stars {
    color: #000000;
    margin-bottom: 10px;
}

.quote {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #000000;
    font-style: italic;
}

.quote-icon {
    font-size: 50px;
    color: #0000007a;
    position: absolute;
    bottom: 10px;
    right: 20px;
}


.testimonial {
    transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}

.testimonial:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.testimonial img {
    transition: transform 0.3s ease-in-out;
}

.testimonial img:hover {
    transform: scale(1.1);
}

.stars {
    transition: color 0.3s ease-in-out;
}

.stars:hover {
    color: gold;
}

.quote {
    transition: color 0.3s ease-in-out;
}

.quote:hover {
    color: #ffffff;
}

.author {
    transition: color 0.3s ease-in-out;
}

.author:hover {
    color: #ffffff;
}

.quote-icon {
    transition: opacity 0.3s ease-in-out;
}

.testimonial:hover .quote-icon {
    opacity: 0.5;
}

.testimonial {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-in-out forwards;
}

.testimonial:nth-child(1) {
    animation-delay: 0.9s;
}

.testimonial:nth-child(2) {
    animation-delay: 0.6s;
}

.testimonial:nth-child(3) {
    animation-delay: 0.3s;
}

.testimonial:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}





































/* footer */




.site-footer {
    background-color: #333;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    padding: 20px 70px;
    padding-top: 20px;
    padding-bottom: -40px;
}

.site-footer hr {
    border-top-color: rgba(0, 164, 204);
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -5px;
    letter-spacing: 2px
}

.col-md-12 p {
    margin-top: -30px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
    margin-top: -30px;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 1400px;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #918181;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

/* Responsive for screens up to 1300px */
@media (max-width: 1300px) {

    .parallax__content {
        padding: 0 100px 50px 100px;
        margin-top: 100px;
        padding: 0 100px 50px 100px;
        text-align: center;
    }

    .parallax__layer-img-logo {
        top: 20%;
    }

    .parallax__title {
        font-size: 9vh;
    }

    .parallax__title_about {
        padding: 20px 0;
        flex-direction: column;
    }

    .colum-awal h1 {
        font-size: 20px;
        padding: 0 20px;
    }

    .colum-awal h1 span {
        font-size: 25px;
    }

    .colum-awal p {
        font-size: 17px;
        font-size: 20px;
    }

    .colum-kedua img {
        width: 330px;
        height: 270px;
    }

    .blur-card-popup {
        width: 90%;
        max-width: 800px;
        padding: 30px 20px;
        margin: 0 auto;
        /* untuk center di horizontal */
    }



    .parallax__title_about h1 {
        font-size: 5vh;
        text-decoration: none;
        margin: 0 0 0 0;
        text-align: center;
    }

    .parallax__title_about p {
        text-align: center;
        font-size: 15px;
        padding: 0 90px;
        margin: 0 0 0 0;
    }

    .visimisi {
        padding: 0;
    }

    .column-visimisi {
        padding: 0;
        margin: 0 0 0 0;
        flex-direction: column;
    }

    .column-visimisi h2 {
        font-size: 30px;
        margin: 0 0 0 0;
    }

    .column-visimisi p {
        font-size: 15px;
        margin: 10px 0 0 0;

    }


    .column {
        flex-direction: column;
        margin: 0 0 0 0;
        padding: 50px 0 0 0;
    }

    .column h2 {
        font-size: 30px;
        margin: 0 0 0 0;
    }



    .column span {
        flex-direction: column;
        margin: 0 0 0 0;
        padding: 0;

    }

    .column li {
        font-size: 15px;
        text-align: start;
        line-height: 22px;
        margin: 10px 0;
    }

    .container-vip {
        margin: 0 50px;
        gap: 0;
    }

    .header-vip {
        margin-bottom: 0;
    }

    .header-vip p {
        font-size: 22px;
        padding: 0 100px;
        margin-bottom: 0;
    }

    .benefits h2 {
        margin-top: 10px;
    }

    .benefits ul li {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .image-card-vip {
        padding-top: 10px;
    }

    .image-card-vip img {
        width: 80%;
    }

    .container-panduan {
        padding: 70px 70px;
    }

    .container-unggulan h1 {
        font-size: 48px;
    }

    .card-unggulan {
        width: 90%;

    }

    .container-unggulan img {
        width: 85%;
        justify-content: center;
        margin: 0 auto;
    }


    .button-unggulan {
        margin-left: 1vh;
    }






    .container-cpt-utama {
        height: auto;
        margin-top: 0;
    }

    .cpt-container {
        width: 700px;
    }

    .cpt-title {
        font-size: 50px;
    }

    .cpt-subtitle {
        font-size: 30px;
    }


    .cpt-benefit-title {
        font-size: 15px;
    }

    .cpt-benefit-item {
        font-size: 15px;
    }

    .cpt-stats-container {
        margin: 0 0;
    }

    .cpt-stat-card {
        padding: 0 0 20px 0;
    }

    .cpt-stat-number {
        font-size: 30px;
        margin: 0 10px 0 0;
    }

    .cpt-stat-label {
        font-size: 20px;
        margin: 0 10px 0 0;
    }

    .cpt-cta-button {

        width: 30%;
        font-size: 15px;
    }

    .container-kontak {
        padding: 0 40px;
    }

    .title-master {
        padding: 0 10px;
    }

    .button-kontak {
        margin-right: 15px;
    }

    .card {
        margin: 0 10px;
    }


}


/* Responsive for screens up to 920px */
@media (max-width: 920px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 100px;
    }

    .parallax__content {
        padding: 30px 20px;
    }

    .parallax__layer-img-logo {
        top: 30%;
    }

    .container-awal {
        padding: 0;
        padding: 0 30px;
        display: flex;
        flex-direction: column;

    }

    .colum-awal {
        font-size: 17px;
        margin: 0 0 0 0;
        font-weight: bold;

    }

    .colum-awal h1 .trading-room {
        letter-spacing: 4px;
    }

    .colum-awal p {
        font-size: 17px;
    }

    .colum-kedua img {
        width: 70%;
        height: auto;
    }

    .btn-awal {
        font-size: 15px;
    }

    .popup-profile {
        padding: 80px 0 100px 0;
    }

    .blur-card-popup {
        width: 90%;
        max-width: 720px;
        padding: 30px 20px;
        margin: 0 auto;
        /* untuk center di horizontal */
    }


    .parallax__title_about {
        padding: 20px 20px;
        margin: 0 0 0 0;
    }

    .parallax__title_about h1 {
        font-size: vh;
    }

    .parallax__title_about p {
        margin: 0 0 0 0;
        font-size: 14px;
        padding: 0 10px;
    }

    .visimisi {
        margin: 0 0 0 0;
        padding: 0 0;
    }

    .column-visimisi {
        flex-direction: column;
        padding: 0 70px;
        margin: 0 0 0 0;
    }

    .column-visimisi h2 {
        font-size: 50px;
        margin: 0 0 0 0;
        padding: 20px 0 0 0;
    }

    .column-visimisi p {
        text-align: center;
        font-size: 15px;
        margin: 10px 0 0 0;
        padding: 0 0;
    }

    .column {
        flex-direction: column;
        margin: 60px 0 0 0;
        padding: 0 70px;
    }


    .column h2 {
        font-size: 50px;
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
    }


    .column span {
        margin: 0 0;
        padding: 0 20px 0 50px;
        flex-direction: column;
    }

    .column li {
        text-align: start;
        font-size: 14px;
        margin: 10px 0 10px 0;

    }

    .container-vip {
        margin: 0 0;
    }

    .header-vip p {
        padding: 0 50px;
    }

    .benefits h2 {
        margin-left: 30px;
    }

    .pricing {
        padding: 10px 100px;
    }



    .container-panduan {
        padding: 35px 80px;
        text-align: center;
    }

    .container-panduan h1 {
        font-size: 1.7rem;
    }

    .grid-panduan {
        grid-template-columns: repeat(2, 1fr);
        /* 2 kolom */
        gap: 20px;
        justify-content: center;
    }

    .card-panduan img {
        height: 140px;
    }

    .card-panduan p {
        font-size: 1rem;
        padding: 14px;
    }











    .container-cpt-utama {
        width: auto;
        margin: 80px 0;
    }

    .cpt-container {
        padding: 10px 0 20px 0;
        margin: 0 0 0 0;
    }

    .cpt-content-wrapper {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .cpt-stat-card {
        padding: 20px 0 20px 0;
    }


    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }

    .content-vip {
        flex-direction: column;
        align-items: center;
    }

    .benefits,
    .images-vip {
        width: 100%;
    }

    .header-vip h1 {
        font-size: 36px;
    }

    .header-vip p {
        font-size: 18px;
    }

    .image-card-vip {
        margin-right: 3vh;
    }

    .container-kontak {
        padding: 0 20px;
    }

    .title-master {
        font-size: 35px;
    }

    .container-unggulan {
        width: 100%;
        height: auto;
    }

    .container-unggulan h1 {
        font-size: 35px;
    }

    .card-unggulan {
        padding: 10px 0 0 0;

    }

    .card-unggulan img {
        width: 100%;
        height: auto;
    }

    .button-unggulan {
        width: 400px;
    }

}

/* Responsive for screens up to 576px */
@media (max-width: 576px) {
    body {
        margin: 0;
    }

    .parallax__title,
    .parallax__title_2 {
        font-size: 50px;
    }

    .parallax__layer-img-logo {
        top: 38%;
    }


    .parallax__header {
        text-align: center;
    }

    .parallax__content {
        text-align: center;

    }

    .blur-card {
        margin: 0;
        padding: 0 0 15px 0;
        border-radius: 16px;
    }

    .container-awal {
        padding: 0 30px;
        display: flex;
        flex-direction: column;

    }

    .trading-room {
        font-size: 25px;
    }

    .colum-awal {
        font-size: 20px;
        margin: 0 0 0 0;
        font-weight: bold;
    }

    .colum-awal h1 {
        margin-top: 30px;
    }

    .colum-kedua {
        width: 100%;
        padding: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .colum-kedua img {
        width: 400px;
        height: auto;
        border-radius: 10px;
    }

    .btn-awal {
        font-size: 15px;
    }


    .overlay-text {
        max-width: 250px;
        max-height: 150px;
        padding: 5px;
        margin: 0 0 0 50px;
    }

    .overlay-text .title-kedua {
        font-size: 15px;
    }

    .overlay-text .jumlah-kedua {
        font-size: 15px;
    }

    .blur-card-popup {
        width: 90%;
        max-width: 320px;
        padding: 30px 20px;
        margin: 0 auto;
        /* untuk center di horizontal */
    }



    .parallax__title_about {
        display: flex;
        flex-direction: column;
        padding: 0 0px 40px 0px;
    }

    .parallax__title_about h1 {
        font-size: 20px;
        text-decoration: none;
        margin: 0 0 0 0;
    }

    .parallax__title_about p {
        text-align: center;
        font-size: 12px;
        padding: 0 0;
        margin: 5px 0 0 0;
    }

    .visimisi {
        margin: 0 0 0 0;
        padding: 0 0;
    }

    .column-visimisi {
        padding: 0 40px 40px;
        flex-direction: column;
    }

    .column-visimisi h2 {
        text-align: center;
        font-size: 20px;
        margin: -30px 0 0 0;
    }


    .column-visimisi p {
        font-size: 12px;
        margin: 0 0 0 0;
        text-align: center;
        padding: 10px 0;
    }

    .column {
        flex-direction: column;
    }

    .column h2 {
        font-size: 20px;
        margin: -70px 0 0 0;
    }


    .column span {
        display: flex;
        margin: 0 0 0 30px;
    }

    .column li {
        flex-direction: row;
        padding: 0 0;
        font-size: 12px;
        line-height: 15px;
        margin: 10px -80px 10px -120px;
    }

    .carousel-visimisi {
        padding: 0;
    }


















    .header-vip {
        margin: 0;
    }

    .header-vip h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .header-vip p {
        font-size: 16px;
        color: #f0f0f0;
        padding: 10px 20px;
        margin: 0;
    }

    .content-vip {
        margin-top: -20px;
    }

    .benefits {
        margin-left: -7vh;
    }

    .benefits h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 35px;
    }

    .benefits ul li {
        font-size: 15px;
        margin: 15px 0;
    }

    .benefits ul li::before {
        margin: -3px 0 0 0;
    }

    .cta-button-vip {
        font-size: 10px;
    }

    .images-vip {
        padding: 0 0 10px 0;
        margin: 0;
    }

    .image-card-vip {
        padding: 0 0 10px 0;
    }


    .image-card-vip img {

        padding: 0;
        margin: 0;
    }

    .image-card-vip p {
        font-size: 13px;
        margin: 0;
    }

    .pricing {
        width: 300px;
        padding: 20px 0;
    }

    .pricing h2 {
        font-size: 20px;
        margin: 0;
    }

    .pricing .discounted-price {
        font-size: 28px;
    }

    .pricing p {
        color: #eaeaea;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .cta-button-vip {
        font-size: 13px;
    }

    .pricing a {
        width: auto;
        padding: 10px 15px;

    }

    .content-left {
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .image-container img {
        width: 120px;
        margin: 0;
    }

    .fitur-list {
        text-align: center;
    }


    .container-panduan {
        margin-top: 20px;
        padding: 30px 15px;

    }

    .container-panduan h1 {
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
        margin: 0 0 20px 0;
    }

    .grid-panduan {
        grid-template-columns: repeat(2, 1fr);
        /* Jadi 2 kolom */
        gap: 15px;
        justify-content: center;
    }

    .card-panduan {
        width: 100%;
    }

    .card-panduan img {
        height: 120px;
    }

    .card-panduan p {
        font-size: 0.9rem;
        padding: 12px;
    }

    .button-panduan {
        font-size: 13px;
        padding: 15px 30px;
        margin-top: 10px;
    }






    .container-cpt-utama {
        width: auto;
        padding: 40px 20px;
        margin: 0 0 30px 0;
    }

    .cpt-container {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .cpt-title {
        font-size: 35px;
    }

    .cpt-subtitle {
        font-size: 15px;
    }

    .cpt-benefit-title {
        font-size: 13px;
    }

    .cpt-benefit-box {
        padding: 10px 13px 30px 13px;
    }

    .cpt-content-wrapper h3 {
        font-size: 17px;
        padding: 0;
    }

    .cpt-benefit-item {
        font-size: 11px;
        margin: 0 0 0 0;
    }

    .cpt-stat-number {
        font-size: 20px;
        padding: 5px 0 0 0;
    }

    .cpt-stat-label {
        font-size: 15px;
    }

    .cpt-cta-button {
        width: 150px;
        font-size: 13px;
    }


    .container-unggulan {
        margin-top: 30px;
        padding: 10px 0 0 0;
    }

    .container-unggulan h1 {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .card-unggulan {
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        padding: 0;
    }

    .card-unggulan h1 {
        margin: 0 0 0 0;
        font-size: 24px;
    }

    .card-unggulan img {
        width: 100%;
        height: 100%;
    }

    .button-unggulan {
        padding: 15px 50px;
        margin: 0;
    }


    .container-kontak1 {
        padding: 0 0 0 0;
        margin: 0 0 0 0;

    }

    .card-border-kontak {
        padding: 0 0 0 0;

    }

    .title-master {
        padding: 0 50px;
    }

    .container-kontak {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .card {
        margin: 0 200px;
    }



    .title-master {
        font-size: 25px;
        padding: 0 30px;
    }

    .image-card-vip {
        padding-top: 20px;
        margin-left: 7px;
    }

    .image-card-vip img {
        width: 30vh;
    }

    .button-kontak {
        margin: 0 0 0 1px;
    }


    .container-kontak1 {
        padding: 40px;
    }

    .carousel-visimisi {
        margin-top: 0;
    }

    .carousel-track-visimisi {
        animation: scrollCarousel 40s linear infinite;
        padding: 20px 0;
    }

    .carousel-track-visimisi img {
        width: 200px;
    }






    .carousel-testimoni {
        padding: 0 16px;
        box-sizing: border-box;
    }

    .carousel-track {
        gap: 0px;
    }

    .carousel-slide {
        flex: 0 0 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
    }

    .carousel-slide img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 12px;
    }

    .carousel-btn {
        font-size: 20px;
        padding: 11px 20px 14px 17px;
        top: 50%;
        transform: translateY(-70%);
    }


    .modal .prev,
    .modal .next {
        padding: 5px 12px 8px 12px;
    }



    .title-testimonial {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center
    }

    .quote {
        font-size: 13px;
    }

    .title-testimonial span {
        font-size: 24px;
    }

    .site-footer {
        padding-bottom: 20px;
    }

}