body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/bgdr.png');
    /* Ganti dengan path gambar */
    background-size: cover;
    /* Agar gambar menutupi seluruh layar */
    background-position: center;
    /* Pusatkan gambar */
    background-repeat: no-repeat;
    /* Hindari pengulangan gambar */
    background-attachment: fixed;
    /* Biarkan gambar tetap saat di-scroll */

}



.osmo-icon-svg {
    width: 8em;
    position: relative;
}

.parallax__header {
    z-index: 2;
    padding: var(--section-padding) var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    display: flex;
    position: relative;
}

.parallax {
    width: 100%;
    position: relative;
    overflow: hidden;
}



.cover {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__visuals {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__visuals2 {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__placeholder {
    z-index: 0;
    opacity: 0;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__layers {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}


.cover-copy {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__fade {
    z-index: 30;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.parallax__fade {
    --color-light-blue-rgb: 0, 164, 204;
    background: linear-gradient(to top,
            rgba(var(--color-light-blue-rgb), 1) 0%,
            rgba(var(--color-light-blue-rgb), 0.95) 15%,
            rgba(var(--color-light-blue-rgb), 0.85) 30%,
            rgba(var(--color-light-blue-rgb), 0.7) 50%,
            rgba(var(--color-light-blue-rgb), 0.5) 70%,
            rgba(var(--color-light-blue-rgb), 0.3) 85%,
            rgba(var(--color-light-blue-rgb), 0.1) 95%,
            rgba(var(--color-light-blue-rgb), 0) 100%);
}

.parallax__black-line-overflow {
    z-index: 20;
    background-color: var(--color-light-blue-rgb);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.parallax__title {
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: 200px;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 150px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 15px 15px 20px rgb(0, 0, 0);

}


.parallax__title_2 {
    pointer-events: auto;
    text-align: center;
    text-transform: none;
    margin-top: 200px;
    margin-bottom: .1em;
    margin-right: .075em;
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 150px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}


.parallax__radial-gradient {
    z-index: 10;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, transparent, var(--color-black));
    opacity: .5;
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    inset: 0;
}

.parallax__layer-title {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax__layer-img {
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 117.5%;
    position: absolute;
    top: -17.5%;
    left: 0;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    filter: grayscale(80%);
}

.parallax__layer-img-logo {
    pointer-events: none;
    object-fit: cover;
    width: 30%;
    height: auto;
    max-width: 100%;
    position: absolute;
    bottom: 55%;
    right: 35%;
    left: auto;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}


.parallax__layer-img.is-third {
    top: -20%;
}

@font-face {
    font-family: 'PP Neue Corp Wide';
    src: url('https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717e399d30a606fed425914_PPNeueCorp-WideUltrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@media (max-width: 1200px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 150px;
    }
}

@media (max-width: 992px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 100px;
    }
}


.txt-rotate {
    font-size: 100px;
}

.parallax__content {
    margin: 100px 0 0 0;
    padding: 0 0 200px 0;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    position: relative;
    color: #eaeaea;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 164, 204) 90%);
}

.parallax__title_about {
    display: flex;
    padding: 50px 30vh;
    margin-bottom: .1em;
    margin: 0;
    font-size: 60px;
    position: relative;
    color: rgb(255, 255, 255);
}



.parallax__title_about h1 {
    font-size: 5vh;
}


.parallax__title_about h2 {
    margin-left: 50px;
    margin-top: -7px;
    font-size: 150px;
}

.parallax__title_about p {
    margin: 48px 0 0 50px;
    font-size: 21px;

}

.visimisi {
    margin: -150px 0 0 0;
    padding: 0 300px;
}

.column-visimisi {
    display: flex;
}

.column-visimisi h2 {
    font-size: 40px;

}

.column-visimisi h6 {
    font-size: 80px;
    margin: 0 0 0 215px;
}

.column-visimisi p {
    font-size: 20px;
    margin: 25px 0 0 60px;
}

.column {
    display: flex;
}

.column span {
    display: flex;
    flex-direction: row;
}

.column h2 {
    font-size: 40px;
}

.column h6 {
    font-size: 80px;
    margin: 0 0 0 208px;
}

.column li {
    font-size: 17px;
    margin: 15px 0 0 60px;
}




.blok-partikel1,
.blok-partikel12 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.blok-partikel1 {
    box-shadow: rgba(87, 244, 255, 0.66) 0 30px 30px 0;
    top: 19%;
    left: 10%;
}

.blok-partikel12 {
    box-shadow: rgba(75, 234, 255, 0.66) 0 30px 30px 0;
    top: 60%;
    left: 80%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(50px);
    }
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(50px);
    }
}




.blur-card {
    position: relative;
    top: auto;
    width: auto;
    padding: 40px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    overflow: hidden;
    margin-top: 130px;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    z-index: -1;
}



.parallax__title_about {
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 0.6s ease-out, transform 3s ease-out;
}


.parallax__title_about.visible {
    opacity: 1;
    transform: translateX(0);
}




.visible {
    opacity: 1;
    transform: translateX(0);
}









/* profile css */

.carousel-visimisi {
    display: flex;
    overflow: hidden;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px 0;
    position: relative;
}

.carousel-track-visimisi {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    will-change: transform;
}

.carousel-track-visimisi:hover {
    animation-play-state: paused;
}

.carousel-visimisi img {
    width: auto;
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
    from {
        transform: translateX(50%);
    }

    to {
        transform: translateX(-100%);
    }
}










.container-vip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 1200px;


    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, box-shadow, background;
    transform-origin: center;
    backface-visibility: hidden;
}

.container-vip:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(212, 212, 212, 0) 0%, rgba(34, 193, 195, 1) 88%);
}

.container-vip {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 4s ease-out;
}


.container-vip.visible {
    opacity: 1;
    transform: translateY(0);
}

.header-vip {
    margin-bottom: 40px;
}

.header-vip h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
}

.header-vip p {
    font-size: 28px;
    color: #f0f0f0;
}

.cta-button-vip {
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: 600;
    margin-top: 30px;
    text-decoration: none;
}

.cta-button-vip:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 111, 97, 0.4);
    color: #ffffff;
}

.content-vip {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    margin-left: 25px;
}

.benefits {
    width: 70%;
    text-align: left;
    margin: 0 0 0 50px;
}

.benefits h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aquamarine;
}

.benefits ul {
    list-style-type: none;
    padding: 0;
}

.benefits ul li {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    color: #eaeaea;
}

.benefits ul li::before {
    content: '\f058';
    /* Font Awesome check icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: aquamarine;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

.images-vip {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.image-card-vip {

    padding: -10px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    filter: grayscale(100%);
}

.image-card-vip:hover {
    filter: grayscale(0%);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-card-vip img {

    width: 50%;
    border-radius: 10px;
}

.image-card-vip p {
    font-size: 16px;
    margin-top: 10px;
    color: #f0f0f0;
    font-weight: bold;
}

.pricing {
    margin-right: 7vh;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing p {
    color: #eaeaea;
}

.pricing h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aquamarine;
}

.pricing .original-price {
    font-size: 24px;
    color: #f0f0f0;
    text-decoration: line-through;
    margin-right: 10px;
}

.pricing .discounted-price {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, #4cd137, #aaff00, #4cd137);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s infinite linear;
}

.pricing:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pricing {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.pricing.visible {
    opacity: 1;
    transform: translateY(0);
}
















/* Promo css */

.container-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: -15px;

    /* background: linear-gradient(to top, #333 5%, rgb(255, 255, 255) 20%); */
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 32%, rgba(0,236,255,1) 100%); */

}



.container-promo2 h1 {
    font-size: 5vh;
    color: rgb(255, 255, 255);
}

.card-promo {
    width: 300px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 164, 204);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    transition: background 0.10s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #eaeaea;

}

.card-promo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, rgba(255, 246, 246, 0) 0%, rgba(34, 193, 195, 1) 88%);

}

.card-content-promo {
    height: 320px;

}


.card-content-promo h2 {
    margin: 5px 0;
    font-size: 24px;
    margin: 0 0 0 45px;
}

.level-promo1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(90deg, #4cd137, #aaff00, #4cd137);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.level-promo2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: radial-gradient(circle, rgba(252, 70, 107, 1) 7%, rgba(63, 94, 251, 1) 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.level-promo3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(180, 163, 7) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.li-promo {
    margin: 10px 0 0 30px;
}

.li-promo li {
    margin: 5px 0;
}

.description-promo {
    margin: 0 0 0 45px;
    font-size: 14px;
    color: #666;
}


.card-promo:hover .stats {
    background: #0056b3;
}

.stats div {
    text-align: center;
}

.stats div span {
    display: block;
    font-weight: bold;
}



.button-promo {
    padding: 15px;
    border-radius: 15px;
    font-size: 13px;
    transition: all 0.6s ease;
    background-color: gray;
    border: #00000000;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
    cursor: pointer;
    font-weight: 600;
}

.button-promo:hover {
    padding: 17px;
    color: rgb(255, 255, 255);
}

.button-promo a {
    padding: 0 7px;
    text-decoration: none;
    transition: all 0.1s ease;
}


.harga-promo {
    background: linear-gradient(90deg, #4cd137, #4cd137, #aaff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-200px);
    }

    50% {
        transform: translateX(820px);
    }

    100% {
        transform: translateX(2000px);
    }
}

.img-move {
    position: absolute;
    opacity: 50%;
    width: 200px;
    height: auto;
    animation: moveLeftToRight 10s infinite alternate ease-in-out;
}




















/* unggulan */

.container-unggulan {
    display: flex;
    width: 100%;
    height: 65em;
    justify-content: center;
    padding: 70px 0 0 0;
}

.card-unggulan {
    width: 900px;
    height: auto;
    padding: 55px 0 60px 0;
    box-shadow: 0 4px 8px rgba(0, 164, 204);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-unggulan img {
    width: 550px;
    height: 800px;
    transition: .2s linear;
}

.card-unggulan img:hover {
    transform: scale(1.05);
}


.button-unggulan {

    padding: 15px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 15px;
    font-size: 15px;
    transition: all 0.6s ease;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
    border: #00000000;
    cursor: pointer;
    font-weight: 600;

}

.button-unggulan:hover {
    padding: 20px;
    color: rgb(255, 255, 255);
}











/* .container-unggulan {
    padding: 5vh 20vh 5vh 20vh;

}

.container-img-unggulan {
    padding: 70px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 164, 204);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 70vh;
    margin: 0 0 0 45vh;
}

.container-img-unggulan img {
    height: 700px;
    width: 500px;
    margin: 0 0 0 9vh;
}

.container-img-unggulan:hover {

    transform: scale(1.05);
}
.button-unggulan {
    margin: 0 0 0 70px;
    padding: 15px;
    border-radius: 15px;
    font-size: 13px;
    transition: all 0.6s ease;
    background-color: gray;
    border: #00000000;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
}

.button-unggulan:hover {
    padding: 17px;
    color: rgb(255, 255, 255);
}

.button-unggulan a {
    padding: 0 7px;
    text-decoration: none;
    transition: all 0.1s ease;
} */













/* kontak css */



.container-kontak1 {
    /* background: linear-gradient(0deg, rgba(0, 164, 204) 0%, rgb(255, 255, 255) 58%); */
    padding: 200px 100px 0 100px;
    /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); */
    z-index: -1;
}

.card-border-kontak {

    height: auto;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 164, 204);
    overflow: hidden;
    padding: 40px 0 0 0;
}

.title-master {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 5vh;
    text-align: center;
    color: #eceeef;

}

p {
    line-height: 1.5em;
}

h1+p,
p+p {
    margin-top: 10px;
}

.container-kontak {
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -8px;
    margin-top: -15px;
}

.card-wrap {
    margin: 10px;
    transform: perspective(600px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-wrap:hover .card-info {
    transform: translateY(0);
}

.card-wrap:hover .card-info p {
    opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
    transition: 3s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateY(0);
}

.card-wrap:hover .card-bg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;
}

.card-wrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 6s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 217, 255, 0.493) 0 0 40px 5px, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
    position: relative;
    bottom: 10px;
    flex: 0 0 240px;
    width: 250px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
    background: transparent;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0 30px;
}

.card-bg {
    opacity: 1;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
    position: relative;
    z-index: 1;
}

.card-info:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 217, 255, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 10s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.button-kontak {

    padding: 15px;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 15px;
    font-size: 15px;
    transition: all 0.6s ease;
    background: linear-gradient(90deg, #ff9f43, #ffd000, #b4852f);
    border: #00000000;
    cursor: pointer;
    font-weight: 600;

}

.button-kontak:hover {
    padding: 20px;
    color: rgb(255, 255, 255);
}

.button-kontak a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.6s ease;
}

.button-kontak a:hover {
    color: rgb(255, 255, 255);
}

.container-partikel {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


















/* Testimonial  */

.container-testimonial-body {
    padding: 32px;
    /* background: linear-gradient(0deg, rgb(255, 255, 255)0%, rgba(0, 164, 204)  58%); */
}


.container-testimonial {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.title-testimonial {
    font-family: PP Neue Corp Wide, sans-serif;
    font-size: 35px;
    font: bold;
    color: #ffffff;
    margin-bottom: 40px;

}

.testimonial {
    background-color: #a7a7a7;
    filter: opacity(80%);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
    text-align: left;
}

.testimonial img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 20px;
    border: 3px solid #000000;
    background-color: #fffcf9;
}

.stars {
    color: #000000;
    margin-bottom: 10px;
}

.quote {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #000000;
    font-style: italic;
}

.quote-icon {
    font-size: 50px;
    color: #0000007a;
    position: absolute;
    bottom: 10px;
    right: 20px;
}


.testimonial {
    transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
}

.testimonial:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.testimonial img {
    transition: transform 0.3s ease-in-out;
}

.testimonial img:hover {
    transform: scale(1.1);
}

.stars {
    transition: color 0.3s ease-in-out;
}

.stars:hover {
    color: gold;
}

.quote {
    transition: color 0.3s ease-in-out;
}

.quote:hover {
    color: #ffffff;
}

.author {
    transition: color 0.3s ease-in-out;
}

.author:hover {
    color: #ffffff;
}

.quote-icon {
    transition: opacity 0.3s ease-in-out;
}

.testimonial:hover .quote-icon {
    opacity: 0.5;
}

.testimonial {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-in-out forwards;
}

.testimonial:nth-child(1) {
    animation-delay: 0.9s;
}

.testimonial:nth-child(2) {
    animation-delay: 0.6s;
}

.testimonial:nth-child(3) {
    animation-delay: 0.3s;
}

.testimonial:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}





































/* footer */




.site-footer {
    background-color: #333;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    padding: 20px 70px;
    padding-top: 20px;
    padding-bottom: -40px;
}

.site-footer hr {
    border-top-color: rgba(0, 164, 204);
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -5px;
    letter-spacing: 2px
}

.col-md-12 p {
    margin-top: -30px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
    margin-top: -30px;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}


.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 1400px;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #918181;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

/* Responsive for screens up to 1300px */
@media (max-width: 1300px) {

    .parallax__header,
    .parallax__content {
        padding: -20px;
        flex-direction: column;
        text-align: center;
    }

    .parallax__title_about {
        display: flex;
        padding: 70px 270px;
    }

    .parallax__title_about h1 {
        font-size: 3vh;
        text-decoration: none;

    }

    .parallax__title_about h2 {
        margin-left: 33px;
        margin-top: -10px;
    }

    .parallax__title_about p {
        text-align: start;
        font-size: 20px;
        padding: 0 0;
        margin: 20px 0 0 30px;
    }


    .column-visimisi h2 {
        font-size: 40px;
        margin: 30px 0 0 30px;
    }

    .column-visimisi h6 {
        margin: 0 0 0 120px;

    }

    .column-visimisi p {
        text-align: start;
        margin: 10px 0 0 37px;
    }


    .column {
    }

    .column h2 {
        font-size: 40px;
        margin: 50px 0 0 30px;
    }

    .column h6 {
        margin: 20px 0 0 113px;
    }


    .column span {
        margin: 20px 0 0 0;
        
    }

    .column li {
        text-align: none;
    }


    .pricing {
        margin-left: 5vh;
    }

    .button-kontak {
        margin-right: 15px;
    }

    .container-img-unggulan {
        width: 57vh;
        height: 910px;
        margin-left: -148px;
    }

    .container-img-unggulan img {
        width: 500px;
        height: 680px;
    }

    .button-unggulan {
        margin-left: 1vh;
    }

    .image-card-vip img {
        width: 300px;
        padding-top: 30px;
        margin-top: 30px;
    }

}

/* Responsive for screens up to 768px */
@media (max-width: 920px) {

    .parallax__title,
    .parallax__title_2 {
        font-size: 35px;
    }

    .parallax__title_about {
        display: flex;
        padding: 50px 65px;
        margin-bottom: .1em;
        margin: 0;
        font-size: 60px;
        position: relative;
        color: rgb(255, 255, 255);
    }



    .parallax__title_about h1 {
        font-size: 3vh;
        margin: 60px 0 0 0;
    }


    .parallax__title_about h2 {
        margin-left: 50px;
        margin-top: -7px;
        font-size: 150px;
    }

    .parallax__title_about p {
        margin: 20px 0 0 50px;
        font-size: 15px;

    }


    .visimisi {

        margin: 0 0 0 0;
        padding: 0 80px;
    }

    .column-visimisi {
        flex-direction: column;
    }

    .column-visimisi h2 {
        font-size: 25px;
        margin: -120px 0 0 0;

    }

    .column-visimisi h6 {
        font-size: 80px;
        margin: -30px 0 0 15px;
        transform: rotate(90deg);
    }

    .column-visimisi p {
        font-size: 15px;
        margin: -30px 0 0 0;
        padding: 0 50px;
    }

    .column {
        display: flex;
        flex-direction: row;
        margin: 50px 0 0 0;
    }



    .column h2 {
        font-size: 25px;
        margin: 40px 0 0 0;
    }

    .column h6 {
        font-size: 80px;
        margin: 0 0 0 20px;
    }

    .column span {
        margin: 0 0 0 20px;
    }

    .column li {
        font-size: 14px;
        margin: 0 0 0 20px;
    }



    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }

    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }

    .content-vip {
        flex-direction: column;
        align-items: center;
    }

    .benefits,
    .images-vip {
        width: 100%;
    }

    .header-vip h1 {
        font-size: 36px;
    }

    .header-vip p {
        font-size: 18px;
    }

    .image-card-vip {
        margin-right: 3vh;
    }

    .pricing {
        margin-left: 6vh;
    }


    .title-master {
        font-size: 33px;
    }

    .container-img-unggulan {
        width: 650px;
        height: 910px;
        margin: 0 -14vh;
    }

    .container-img-unggulan img {
        width: 500px;
        height: 680px;
        margin: 0 75px;
    }

    .card-unggulan .pop-up-image img {
        width: 95%;
    }

}

/* Responsive for screens up to 576px */
@media (max-width: 576px) {
    body {
        margin: 0;
    }

    .parallax__title,
    .parallax__title_2 {
        font-size: 50px;
    }



    .parallax__header,
    .parallax__content {
        padding: 25px 30px 30px 30px;
        text-align: center;
    }

    .parallax__title_about {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .parallax__title_about h1 {
        font-size: 4vh;
        text-decoration: none;

    }

    .parallax__title_about h2 {
        margin-left: 33px;
        margin-top: -70px;
        transform: rotate(90deg);
    }

    .parallax__title_about p {
        text-align: center;
        font-size: 13px;
        padding: 0 0;
        margin: -180px 0 0 0;
    }

    .visimisi {

        margin: 0 0 0 0;
        padding: 0 0;
    }

    .column-visimisi {
        padding: 0 40px 0 40px;
        flex-direction: column;
    }

    .column-visimisi h2 {
        font-size: 25px;
        margin: 30px 0 0 0;
    }

    .column-visimisi h6 {
        font-size: 80px;
        margin: -30px 0 0 15px;
        transform: rotate(90deg);
    }

    .column-visimisi p {
        font-size: 11px;
        margin: -30px 0 0 0;
        text-align: center;
        padding: 10px 0;
    }

    .column {
        flex-direction: column;
    }

    .column h2 {
        font-size: 25px;
        margin: 0 0 30px 0;
    }

    .column h6 {
        font-size: 80px;
        margin: -60px 0 0 15px;
        transform: rotate(90deg);
    }

    .column span {
        margin-top: -30px;
        flex-direction: column;
        margin-right: 15px;
        text-align:left;
    }

    .column li {
        padding: 0 35px 0 35px;
        font-size: 11px;
        line-height: 15px;
        margin: 10px 0 10px 0;
    }


    .blur-card {
        margin-top: 170px;
    }



    .benefits {
        margin-left: -5vh;
    }

    .benefits ul li {
        font-size: 17px;
    }

    .cta-button-vip {
        font-size: 10px;
        font-weight: bold;
    }

    .pricing a {
        width: auto;
        padding: 10px 15px;
    }

    .content-left {
        align-items: center;
    }

    .image-container img {
        width: 120px;
    }

    .fitur-list {
        text-align: center;
    }

    .card-promo {
        width: 300px;
        margin-bottom: 30px;
    }


    .container-kontak {
        margin-left: 18px;
    }


    .title-master {
        font-size: 33px;
    }

    .image-card-vip {
        padding-top: 20px;
        margin-left: 7px;
    }

    .image-card-vip img {
        width: 30vh;
    }

    .pricing {
        margin-left: 8vh;

    }

    .container-kontak1 {
        padding: 40px;
    }

    .carousel-visimisi {
        margin-top: 110px;
    }

    .carousel-track-visimisi {
        animation: scroll 25s linear infinite;
        padding: 20px 0;
    }

    .carousel-track-visimisi img {
        width: 200px;
    }

    .container-img-unggulan {
        width: 350px;
        height: 610px;
        margin-left: -148px;
    }

    .container-img-unggulan img {
        width: 300px;
        height: 380px;
        margin: 0 28px;
    }

    .container-unggulan {
        width: 100%;
    }

    .card-unggulan {
        width: 90%;
        height: 630px;
    }

    .card-unggulan img {
        width: 300px;
        height: 450px;
    }

    .site-footer {
        padding-bottom: 20px;
    }

    @keyframes scroll {
        from {
            transform: translateX(17%);
        }

        to {
            transform: translateX(-100%);
        }
    }

}