
.container-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.card-promo {
    width: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 0 15px;
}
.card-promo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.card-promo img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}
.card-promo:hover img {
    opacity: 0.8;
}
.card-content {
    padding: 15px;
}
.card-content h2 {
    margin: 5px 0;
    font-size: 15px;
}
.level {
    font-weight: bold;
    font-size: 30px;
}
.description {
    font-size: 14px;
    color: #666;
}
.card-promo:hover .stats {
    background: #0056b3;
}
.stats div {
    text-align: center;
}
.stats div span {
    display: block;
    font-weight: bold;
}


.button-promo {
    padding: 15px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0;
    border-radius: 305px;
    transition: all 0.6s ease;
  }
  
  .button-promo:hover {
    padding: 17px;
    color: white;
  }
  
  .button-promo a {
    padding: 0 7px;
    text-decoration: none;
    transition: all 0.6s ease;
  }
  